body{
    background-color: rgb(255,255,255);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    nav{
        .col-12{
            
            width: 100%;
            height: 40px;
            background-color: black;
            i{
                color: white;
                font-size: 17px;
                padding: 10px;
                margin-left: 5px;
            }
        }
    }
    .h1{
        text-align: center;
        margin-top: 50px;
        font-size: 35px;
    }
    .h4{
        text-align: center;
        margin-top: 15px;
        font-family:'Times New Roman', Times, serif ;
        
        span{
            background-color: black;
            color: white;
            padding: 5px;
        }
    }
    .image-part{
      img{
          height: 966px;
          width: 100%;
          
      }
      
        .input{
            width: 120px;
            height: 45px;
            background-color: red;
            &hover{
                background-color: green;
            }
        }
    }
}
main{
    .main-div{
        display: flex;
         height: 3000px;
         background-color: rgb(241,241,241);
         .col-5{
           
            margin-left: 20px;
            margin-top: 10px;
             .right-side-1{
                 width: 98%;
                 background-color: black;
                 h2,p{
                     color: white;
                     padding: 8px;
                 }

                            
               .avatar2{
                  display: inline-block;
    
                     width: 100%;
                      height: 350px;
    
                }

         }
         .right-side-2{
             background-color: white;
             h2{
                 background-color: black;
                 color: white;
                 width: 98%;
                 padding: 13px;
             }
             div{
                 &:hover{
                     background-color: rgb(161, 155, 155);
                 }
             }
             img{
                 
                 width: 70px;
                 height: 70px;
                 margin: 5px;
                 display: inline-block;
                 margin-left: 10px;
             }
             p{
                 display: inline-block;
                 vertical-align: top;
                 margin-top: 5%;
                 font-size: 20px;
                 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

             }
             hr{
                background-color: rgb(221,221,221);
                width: 97%;
                margin: 0 auto;
             }
         }
         .right-side-3{
             background-color: white;
             h2{
                background-color: black;
                 color: white;
                 width: 98%;
                 padding: 13px;
             }
             .yourad{
                 width: 96%;
                 height: 250px;
                 background-color: rgb(218, 218, 218);
                 margin: 10px;
                 p{
                     padding-top: 120px;
                     padding-left: 220px;

                 }
             }
         }
         .right-side-4{
             background-color: white;
             h2{
                background-color: black;
                color: white;
                width: 98%;
                padding: 13px;
             }
             img{
            width: 250px;
            height: 250px;
            margin-left: 24px;
            margin-top: 8px;
             }
         }
         .right-side-5{
             background-color: white;
             h2{
                background-color: black;
                color: white;
                width: 98%;
                padding: 13px;
                
             }
             input{
                 width: 80%;
                 border-radius: 2px;
                 height: 25px;
                 padding: 13px;
                 margin-left: 15px;
             }
             button{
                 width: 80%;
                 height: 30px;
                 margin-left: 15px;
                 background-color: rgb(216, 54, 54);
                 &:hover{
                     background-color: rgb(112, 98, 98);
                 }
             }
         }
        }

         .col-7{
             
            
            margin-left: 20px;
            height: 2500px;
            .left-side-1{
            
                background-color: white;
                h2,h4{
                    text-align:center;
                    margin-top: 10px;
                }
                img{
                    width: 100%;
                    padding: 15px;
                }
                p{
                    text-align: justify;
                    padding: 15px;
                }
                .a1{
                    display: inline-block;
                    text-decoration: none;
                    border:1px solid black ;
                    background-color: white;
                    margin: 15px;
                    &:hover{
                        background-color: rgb(134, 127, 127);
                    }
                    width: 55px;
                    height: 35px;
                    padding: 6px;
                    color: black;
                }
                .a2{
                    text-decoration: none;
                    border:1px solid black;
                    width: 95px;
                    height: 35px;
                    float: right;
                    margin: 15px;
                    text-align: center;
                    color: white;
                    background-color: black;
                    display: inline-block;
                    &:hover{
                        background-color: rgb(175, 164, 164);
                    }
                    span{
                        display: inline-block;
                        border: 1px solid black;
                        padding: 3px;
                        color: black;
                        background-color: white;
                        width: 25px;
                        margin-top: 5px;
                        text-align: center;
                    }
                }
                .avatar{
                    display: inline-block;
                    width: 120px;
                    height: 120px;
                }
                .foto{
                    display: inline-block;
                    vertical-align: top;
                    margin-top: 10px;
                }
                .txt{
                    display: inline-block;
                    vertical-align: top;
                    margin-left: -100px;
                    margin-top: 10px;
                }
            }
            .left-side-2{
            
                background-color: white;
                margin-top: 35px;
                h2,h4{
                    text-align:center;
                    margin-top: 10px;
                }
                img{
                    width: 100%;
                    padding: 15px;
                }
                p{
                    text-align: justify;
                    padding: 15px;
                }
                .a1{
                    display: inline-block;
                    text-decoration: none;
                    border:1px solid black ;
                    background-color: white;
                    margin: 15px;
                    &:hover{
                        background-color: rgb(134, 127, 127);
                    }
                    width: 55px;
                    height: 35px;
                    padding: 6px;
                    color: black;
                }
                .a2{
                    text-decoration: none;
                    border:1px solid black;
                    width: 95px;
                    height: 35px;
                    float: right;
                    margin: 15px;
                    text-align: center;
                    color: white;
                    background-color: black;
                    display: inline-block;
                    &:hover{
                        background-color: rgb(175, 164, 164);
                    }
                    span{
                        display: inline-block;
                        border: 1px solid black;
                        padding: 3px;
                        color: black;
                        background-color: white;
                        width: 25px;
                        margin-top: 5px;
                        text-align: center;
                    }
                }
            }
            .left-side-3{
            
                background-color: white;
                margin-top: 15px;
                h2,h4{
                    text-align:center;
                    margin-top: 10px;
                }
                img{
                    width: 100%;
                    padding: 15px;
                }
                p{
                    text-align: justify;
                    padding: 15px;
                }
                .a1{
                    display: inline-block;
                    text-decoration: none;
                    border:1px solid black ;
                    background-color: white;
                    margin: 15px;
                    &:hover{
                        background-color: rgb(134, 127, 127);
                    }
                    width: 55px;
                    height: 35px;
                    padding: 6px;
                    color: black;
                }
                .a2{
                    text-decoration: none;
                    border:1px solid black;
                    width: 95px;
                    height: 35px;
                    float: right;
                    margin: 15px;
                    text-align: center;
                    color: white;
                    background-color: black;
                    display: inline-block;
                    &:hover{
                        background-color: rgb(175, 164, 164);
                    }
                    span{
                        display: inline-block;
                        border: 1px solid black;
                        padding: 3px;
                        color: black;
                        background-color: white;
                        width: 25px;
                        margin-top: 5px;
                        text-align: center;
                    }
                }
            }

        }
        
    }
    
}







.col-1 {
    width: calc(100% / 12); }
  
  .col-2 {
    width: calc(100% / 12 * 2); }
  
  .col-3 {
    width: calc(100% / 12 * 3); }
  
  .col-4 {
    width: calc(100% / 12 * 4); }
  
  .col-5 {
    width: calc(100% / 12 * 5); }
  
  .col-6 {
    width: 50%; }
  
  .col-7 {
    width: calc(100% / 12 * 7); }
  
  .col-8 {
    width: calc(100% / 12 * 8); }
  
  .col-9 {
    width: calc(100% / 12 * 9); }
  
  .col-10 {
    width: calc(100% / 12 * 10); }
  
  .col-11 {
    width: calc(100% / 12 * 11); }
  
  .col-12 {
    width: 100%; }
    @media screen and (min-width:500px) and (max-width:1000px) {
        
        .col-12{
            display: none;
        }
        .col-5{
            display: none;
        }
        .col-7{
            width: 100%;
        }
        
        
    }